---
name: CLI Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: "pip"
          cache-dependency-path: "**/requirements_dev.txt"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_dev.txt

      - name: Validate
        run: |
          hostdb validate --path examples/manifest.yaml
      - name: Allocate
        run: |
          hostdb allocate --path examples/manifest.yaml
